@import "./index.scss";

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.header {
  font-size: larger;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    border: 1px solid $primary-color;
    border-radius: 5px;
  }
  button:hover {
    background-color: $primary-color;
    color: $dark-color;
  }
}

.pokemon-section {
  display: flex;
  padding: 3rem;
}

.pokemon-cards {
  flex: 1;
  @media only screen and (max-width: 600px) {
    .pokemon-cards-wrapper {
      width: 95%;
    }
  }

  .pokemon-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: auto;

    .pokemon-card {
      background-color: $primary-color;
      display: block;
      font-size: larger;
      text-decoration: none;
      border: 1px solid $dark-color;
      padding: 0.7rem 1.2rem;
      border-radius: 20px;
      color: $dark-color;
      font-weight: 600;
      text-transform: capitalize;
      cursor: pointer;
    }

    .pokemon-card:hover {
      background-color: $secondary-color;
      color: $primary-color;
    }
  }
}

.pokemon-details-wrapper {
  flex: 1;
  text-align: center;
  .pokemon-details {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 2rem 4rem;

    .pokemon-thumbnail {
      background: $dark-color;
      height: min-content;
      border-radius: 10px 0px 0px 10px;
    }
    .pokemon-bio {
      text-align: left;
      padding: 0 1rem;
      h2 {
        margin-top: 0;
        margin-bottom: 10px;
        text-transform: uppercase;

        button {
          background: none;
          color: $dark-color;
          float: right;
          svg {
            font-size: xx-large;
          }
        }
        span {
          font-size: small;
          float: right;
        }
      }
    }
  }
}

.pokemons-grid {
  padding: 2rem 4rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
  .pokemon-card {
    // display: inline-block;
    padding: 0 0.5rem 0.5rem 0.5rem;
    border: 1px solid $secondary-color;
    // width: max-content;
    background: $dark-color;
    border-radius: 10px;
    width: 250px;
    flex: 0 0 auto;
    height: max-content;
    img {
      margin-top: 1rem;
      border-radius: 12px;
    }
    h2 {
      text-transform: uppercase;
      color: $light-color;
    }
    .info-wrapper {
      padding: 0.5rem;
      justify-content: center;
    }
  }
}
